{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/checkbox.css' %}">
</head>
<body>
    <section>

        <div class="create_container">
            <form action="{% url 'add-book' %}" method="POST">
                {% csrf_token %}
                <input 
                    class="create_input" 
                    type="text" 
                    placeholder="Напишите новую книгу"
                    name="book_text" 
                />
                <input 
                class="create_input" 
                type="text" 
                placeholder="Напишите автора книги"
                name="book_author" 
                />
                <input 
                class="create_input" 
                type="text" 
                placeholder="Стоимость книги"
                name="book_price" 
                />
                <button class="create_button">Добавить</button>
            </form>

            {% for books in books_list %}
            <div class="todo_item">
                <div class="todo_item_header">
                    <h4>{{ books.title }}</h4>
                    <h5>{{ books.author }}</h5>
                    <h6>{{ books.price }}</h6>
                </div>

                <div class="todo_item_footer">
                    <!-- <div class="action_buttons"> -->
                        <img src="{% static './icons/unmarked.png' %}" />
                        <a href="{% url 'delete-books' books.id %}"><img src="{% static './icons/delete2.png' %}" /></a>
                    </div>
                
            </div>
        {% endfor %}
        
    </section>
</body>
</html>